<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    {{player_color}}
    <div style="background-color: grey">
        <div style = "text-align: center">
        <h1>
        <b>Fill in the lines strictly in order</b>
        </h1>
        </div>
    </div>
    <form action = "/game/size" method = "post">
        <label for = "game">Entry task:</label>
        <input type = "text" id = "game" name = "game">
        <button type = "submit"> Send map size</button>>
    </form>
    <form action = "/game/checkers_quantity" method = "post">
        <label for = "game_checkers_quantity">Entry task:</label>
        <input type = "text" id = "game_checkers_quantity" name = "game_checkers_quantity">
        <button type = "submit"> Send checkers_quantity</button>>
    </form>
        <form action = "/game/player_number" method = "post">
        <label for = "/game/player_number">Entry task:</label>
        <input type = "text" id = "/game/player_number" name = "/game/player_number">
        <button type = "submit"> Send player_number</button>>
    </form>
    <br>
    <form action = "/game" method = "post">
        <button type = "submit"> Send Start game</button>
    </form>

</body>
</html>